#sdebar{
	background: #151718;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	left: -200px;
	top: 70px;
	transition: left .3s linear;
}

ul{
	margin: 0px;
	padding: 0px;
}

#sidebar-list li{
	list-style:none;
}

#sidebar-list li a{
	background: #1C1E1F;
	color: #CCC;
	border-bottom: 1px solid #111;
	display: block;
	width: 180px;
	padding: 10px;
	text-decoration: none;
}
