:root{
--form-bg: #13232f;
--body-bg: #c1bdba;
--main: #1ab188;
--main-light: lighten(--main,5%);
--main-dark: darken(--main,5%);
--main-else: rgba(--form-bg,.9);
--main-shadow: 0 4px 10px 4px var(--form-bg);
--gray-light: #a0b3b0; 
--gray: #ddd;
--thin: 300;
--normal: 400;
--bold: 600;
--br: 4px;
--white: #ffffff;
}



body{
	margin: 0px auto;
	padding: 0px;
	background: url("../Images/Landscape.jpg") no-repeat scroll;
	-web-kit-background-size: 100% 750px;
	-moz-background-size: 100% 750px;
	-o-background-size: 100% 750px;
	background-size: 100% 750px ;
	transition: .3s;
	
}

.mainheader{
	height: 7%;
	background-color: var(--white);
	padding: 10px;
	background-color: ;
	box-shadow:0px 2px 6px -2px rgba(0,0,0,.25);
	
}

.mainheader ul{
	list-style-type: none;
	margin: 0 auto;
	margin-right: 2%;
}

.mainheader ul li{
	font-size: 0.75em;
	float: right;
	display: block;
	text-align: center;
	margin-right: 1%;
	margin-top: 1.3%
}

ul li a{
	text-decoration:none;
	color: #fff;
	background-color: #660000;
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px;
}

ul li a:hover{
	color: #8B0000;
	background-color: transparent;
	transition: .3s;
}

.center-let1{
	float: left;
	width: 40%;
	margin-top: 150px;
	margin-left: 150px;
	margin-bottom: 0px;
	color: var(--white);
}

.center-let2{
	float:left;
	margin-left: 300px;
	margin-top: 10px;
	color: var(--white);
}
.center-let2 a{
	text-decoration: none;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #660000;
	color: var(--white);
	padding: 10px;

}

.center-let2 a:hover{

	color: red;
	background-color: transparent;
	transition: .3s
}
.container {
  float: right;
  padding: 40px;
  width:400px;
  margin-top: 100px;
  margin-right: 20%;
  border-radius: var(--br);
  box-shadow: var(--main-shadow);
  
 
}
.sign-field-wrap {
  position:relative;
  margin-bottom:40px;
}


input {
  font-size:22px;
  display:block;
  width:100%;
  height:5%;
  padding:5px 10px;
  background:;
  border:1px solid var(--gray-light);
  color:var(--white);
  border-radius:3px;
  transition:border-color 0.5s ease, box-shadow .5s ease;
  
	
}

input:focus {
		outline:0;
		border-color:var(--main);
}

text:focus {
		outline:0;
		border-color:var(--main);
}

.sign-button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing:.1em;
  background:var(--main);
  color: var(--white);
  transition:all.5s ease;
  -webkit-appearance: none;

}

.sign-buton:hover, .sign-button:focus{
  background: none;
  cursor: pointer;
}

.sign-button-block {
  display:block;
  width:100%;
}

.write-up{
	margin-top: 700px;
}


}

